# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pytest
.cache/
.pytest_cache/
coverage.xml
htmlcov/
*.cover
*.coverage
*.log

# VS Code
.vscode/
*.code-workspace

# FastAPI
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
*.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/